{% extends '../../../templates/base.html' %}

{% block title %}{{ block.super }} Cookie policy{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12">
                <script id="CookieDeclaration"
                        src="https://consent.cookiebot.com/b02afbbd-fd14-425f-b4e0-26d7e488bbf8/cd.js"
                        type="text/javascript" async></script>
            </div>
        </div>
    </div>
{% endblock %}