asgiref==3.4.1
backports.entry-points-selectable==1.1.0
cffi==1.14.6
cryptography==35.0.0
dj-database-url==0.5.0
Django==3.2.7
django-appconf==1.0.5
django-cors-headers==3.10.0
django-crispy-forms==1.13.0
django-heroku==0.0.0
filelock==3.2.0
gunicorn==20.1.0
parsedatetime==2.6
platformdirs==2.4.0
pycparser==2.20
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
selenium==3.141.0
sqlparse==0.4.2
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.7
webbot==0.34
whitenoise==5.3.0
