{% extends 'base.html' %}
{% load i18n %}

{% block extra_css %}
    <style>
        html,body {
            height: 100% !important;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block title %}{{ block.super }} {% translate "Email successfully verified" %}{% endblock %}

{% block content %}
    <div id="welcome-page-background" class="d-flex justify-content-center align-items-center column-flex">
        <div class="row">
            <div class="col site-col p-4">
                <h3 class="font-7 logo-font site-color big-text mb-3">{% translate "Welcome" %}</h3>
                <h5 class="font-5 logo-font">
                    {% translate "Your email has been successfully verified." %}
                    <a class="site-blue-text font-7 site-light-blue-text-mobile"
                       href="{% url 'home' %}">
                        {% translate "Join" %}
                    </a>.
                </h5>
            </div>
        </div>
    </div>
{% endblock %}