{% extends 'base_form.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {% translate "Delete Green Pass" %}{% endblock %}

{% block form_title %}{% translate "Delete your Green Pass" %}{% endblock %}

{% block form_alert %}
    <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading">{% translate "Warning" %} <i class="fas fa-exclamation-triangle"></i></h5>
        <p>
            <span class="font-6">
                {% translate "Are you sure you want to delete yuor Green Pass link?" %}
            </span>
        </p>
        <hr>
        <p class="mb-0">
            {% translate "This data will be destroyed and you will have to insert the link again." %}
        </p>
    </div>
{% endblock %}

{% block form_body %}
    {% crispy form %}
{% endblock %}

{% block back_url %}
    <a href="{% url 'user_management:settings' %}" class="font-6 site-blue-text">
        <i class="fas fa-chevron-left mr-2"></i>
        {% translate "Back to settings" %}
    </a>
{% endblock %}

{% block extra_javascript %}

{% endblock %}