{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} {% translate "Settings" %}{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <span class="h2 site-color logo-font">{% translate "Settings" %}</span>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex flex-column">
                <a href="#" class="site-link site-blue-text font-6">{% translate "Update Unimore credentials" %}</a>
                <span class="text-muted font-5">
                    {% blocktranslate %}
                        Update your Unimore credentials
                    {% endblocktranslate %}
                </span>
                <hr>
                <a href="{% url 'user_management:delete' %}" class="site-link text-danger font-6">{% translate "Delete your account" %}</a>
                <span class="text-muted font-5">
                    {% blocktranslate %}
                        Delete your account and all your information
                    {% endblocktranslate %}
                </span>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <a href="{% url 'reservation_management:reservation-list' %}" class="font-6 site-blue-text">
                    <i class="fas fa-chevron-left mr-2"></i>
                    {% translate "Back home" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}