{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} {% translate "Settings" %}{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <a href="{% url 'reservation_management:reservation-list' %}" class="font-6 site-blue-text">
                    <i class="fas fa-chevron-left mr-2"></i>
                    {% translate "Back home" %}
                </a>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <h2 class="site-color logo-font">{% translate "Settings" %}</h2>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex flex-column">
                <a href="{% url 'user_management:general-settings' %}"
                   class="site-link site-blue-text font-6">
                    {% translate "General settings" %}
                </a>
                <span class="text-muted font-5">{% translate "Update general settings" %}</span>
                <hr>
                <a href="{% url 'user_management:update-unimore-credentials' %}"
                   class="site-link site-blue-text font-6">
                    {% translate "Update Unimore credentials" %}
                </a>
                <span class="text-muted font-5">
                    {% blocktranslate %}
                        Update your Unimore credentials
                    {% endblocktranslate %}
                </span>
                <hr>
                {% if user.green_pass_link is not None %}
                    <a href="{% url 'user_management:green-pass-delete' %}"
                       class="site-link text-danger font-6">
                        {% translate "Delete your Green Pass" %}
                    </a>
                    <span class="text-muted font-5">
                    {% blocktranslate %}
                        Remove the link to your Green Pass
                    {% endblocktranslate %}
                </span>
                    <hr>
                {% endif %}
                <a href="{% url 'user_management:delete' %}"
                   class="site-link text-danger font-6">{% translate "Delete your account" %}</a>
                <span class="text-muted font-5">
                    {% blocktranslate %}
                        Delete your account and all your information
                    {% endblocktranslate %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}