{% extends 'base_admin.html' %}

{% block title %}Users{% endblock %}
{% block page_title %}Users{% endblock %}

{% block items %}
    <span class="font-6">{{ item.username }}</span>
    <span>Email: {{ item.email }}</span>
    <span>Joined: {{ item.date_joined }}</span>
    <span>Last login: {{ item.last_login }}</span>
    <span>Active: {{ item.is_active }}</span>
    <span>Lessons: {{ item.lessons_count }}</span>
    <span>Today lessons: {{ item.today_lessons.count }}</span>
    {% if item.whats_new %}
        <span class="text-danger font-6">Unseen What's new</span>
    {% else %}
        <span class="text-success font-6">Seen What's new</span>
    {% endif %}
    {% if item.green_pass_link %}
        <span class="text-success font-6">Green pass added</span>
    {% else %}
        <span class="text-danger font-6">Green pass not added</span>
    {% endif %}
    {% if not item.credentials_ok %}
        <span class="text-danger font-6 mt-3"> Wrong credentials</span>
    {% endif %}
{% endblock %}