{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} {% translate "Update Unimore credentials" %}{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mb-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <span class="h2 site-color logo-font">{% translate "Update your Unimore credentials" %}</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <form method="POST" class="d-flex flex-column"> {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <a href="{% url 'user_management:settings' %}" class="font-6 site-blue-text">
                    <i class="fas fa-chevron-left mr-2"></i>
                    {% translate "Back to settings" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
