{% extends 'base.html' %}
{% load i18n %}
{% load app_filters %}

{% block title %}{{ block.super }} {% translate "Lesson" %}{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex justify-content-between align-items-center">
                {% url 'reservation_management:lesson-timetable' as time_table_url %}
                {% if time_table_url in request.META.HTTP_REFERER %}
                    <a href="{{ time_table_url }}" class="font-6 site-blue-text">
                        <i class="fas fa-chevron-left mr-2"></i>
                        {% translate "Your time table" %}
                    </a>
                {% else %}
                    <a href="{% url 'reservation_management:lesson-list' %}" class="font-6 site-blue-text">
                        <i class="fas fa-chevron-left mr-2"></i>
                        {% translate "Your lessons" %}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <div class="row">
                    <div class="col d-flex flex-column">
                        <span class="text-muted font-5">{{ lesson.day|get_day_from_int }}</span>
                        {% if lesson.name %}
                            <div>
                                <h2 class="font-7 logo-font" style="color: {{ lesson.color }};">{{ lesson.name }}</h2>
                            </div>
                            <div>
                                <span class="font-6">{{ lesson.classroom.name }}</span> -
                                <span class="font-6">{{ lesson.classroom.building.name }}</span>
                            </div>
                        {% else %}
                            <h2 class="font-7 logo-font"
                                style="color: {{ lesson.color }};">{{ lesson.classroom.name }}</h2>
                            <span class="font-6">{{ lesson.classroom.building.name }}</span>
                        {% endif %}
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'reservation_management:lesson-update' lesson.pk %}"
                           class="site-link no-decoration">
                            <i class="fas fa-pen mt-2 mr-3"></i>
                        </a>
                        <a href="{% url 'reservation_management:lesson-delete' lesson.pk %}"
                           class="site-link no-decoration">
                            <i class="fas fa-trash text-danger"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-xl-3 col-lg-5 col-md-9 col-12">
                <ul>
                    <li>{% translate "Start at " %}{{ lesson.start_time }}</li>
                    <li>{% translate "End at " %}{{ lesson.end_time }}</li>
                </ul>
                <p>

                </p>
            </div>
        </div>
    </div>
{% endblock %}