{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ block.super }} {% translate "Timetable" %}{% endblock %}

{% block extra_css %}
    <style>
        table {
            table-layout: fixed;
            min-width: 1200px !important;
            margin-right: 10px;
        }

        table tr th:first-child {
            width: 200px !important;
        }

        .table-col {
            overflow-x: scroll;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-12 d-flex justify-content-between align-items-center">
                <a href="{% url 'reservation_management:reservation-list' %}" class="font-6 site-blue-text">
                    <i class="fas fa-chevron-left mr-2"></i>
                    {% translate "Your reservations" %}
                </a>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col-md-10 col-12">
                <h2 class="logo-font site-color">{% translate "Lessons timetable" %}</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 table-col">
                <table class="table table-bordered">
                    <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">{% translate "Monday" %}</th>
                        <th scope="col">{% translate "Tuesday" %}</th>
                        <th scope="col">{% translate "Wednesday" %}</th>
                        <th scope="col">{% translate "Thursday" %}</th>
                        <th scope="col">{% translate "Friday" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for index, monday, tuesday, wednesday, thursday, friday in df.itertuples %}
                        <tr class="text-break text-center">
                            <th scope="row" class="font-5">
                                <div class="d-flex align-items-center h-100">
                                    {{ index }}
                                </div>
                            </th>
                            <td>
                                {% if monday %}
                                    <div class="badge site-badge py-2 px-4 text-wrap w-100"
                                         style="background-color: {{ monday.color }}">
                                        {% if monday.name %}
                                            {{ monday.name }}
                                        {% else %}
                                            {{ monday.classroom.name }}
                                        {% endif %}
                                        <br>
                                        {% if monday.name %}
                                            <span class="font-size-80 font-4">
                                                {{ monday.classroom.name }}
                                            </span>
                                            <br>
                                        {% endif %}
                                        <span class="font-size-80 font-4">
                                             {{ monday.start_time }} - {{ monday.end_time }}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if tuesday %}
                                    <div class="badge site-badge py-2 px-4 text-wrap w-100"
                                         style="background-color: {{ tuesday.color }}">
                                        {% if tuesday.name %}
                                            {{ tuesday.name }}
                                        {% else %}
                                            {{ tuesday.classroom.name }}
                                        {% endif %}
                                        <br>
                                        {% if tuesday.name %}
                                            <span class="font-size-80 font-4">
                                                {{ tuesday.classroom.name }}
                                            </span>
                                        {% endif %}
                                        <span class="font-size-80 font-4">
                                            {{ tuesday.start_time }} - {{ tuesday.end_time }}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if wednesday %}
                                    <div class="badge site-badge py-2 px-4 text-wrap w-100"
                                         style="background-color: {{ wednesday.color }}">
                                        {% if wednesday.name %}
                                            {{ wednesday.name }}
                                        {% else %}
                                            {{ wednesday.classroom.name }}
                                        {% endif %}
                                        <br>
                                        {% if wednesday.name %}
                                            <span class="font-size-80 font-4">
                                                {{ wednesday.classroom.name }}
                                            </span>
                                        {% endif %}
                                        <span class="font-size-80 font-4">
                                            {{ wednesday.start_time }} - {{ wednesday.end_time }}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if thursday %}
                                    <div class="badge site-badge py-2 px-4 text-wrap w-100"
                                         style="background-color: {{ thursday.color }}">
                                        {% if thursday.name %}
                                            {{ thursday.name }}
                                        {% else %}
                                            {{ thursday.classroom.name }}
                                        {% endif %}
                                        <br>
                                        {% if thursday.name %}
                                            <span class="font-size-80 font-4">
                                                {{ thursday.classroom.name }}
                                            </span>
                                        {% endif %}
                                        <span class="font-size-80 font-4">
                                            {{ thursday.start_time }} - {{ thursday.end_time }}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                            <td>
                                {% if friday %}
                                    <div class="badge site-badge py-2 px-4 text-wrap w-100"
                                         style="background-color: {{ friday.color }}">
                                        {% if friday.name %}
                                            {{ friday.name }}
                                        {% else %}
                                            {{ friday.classroom.name }}
                                        {% endif %}
                                        <br>
                                        {% if friday.name %}
                                            <span class="font-size-80 font-4">
                                                {{ friday.classroom.name }}
                                            </span>
                                        {% endif %}
                                        <span class="font-size-80 font-4">
                                            {{ friday.start_time }} - {{ friday.end_time }}
                                        </span>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}