{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <style>
        {#.input-wrapper {#}
        {#    display: inline-block;#}
        {#    position: relative#}
        {##}
        {#.input-wrapper:after {#}
        {#    font-family: 'FontAwesome';#}
        {#    content: '\f00c';#}
        {#    position: absolute;#}
        {#right: 6px;#}
    </style>
{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row h-100 w-100 ml-0 justify-content-center">
            <div id="lesson-column" class="col-lg-3 col-12 d-flex align-items-center justify-content-center p-0">
                <form method="POST" class="w-100">
                    <h2 class="mb-5 font-7 logo-font site-color">
                        {% block form_title %}{% endblock %}
                    </h2>
                    <div>
                        {% crispy form %}
                        <div class="row justify-content-start mt-4">
                            <div class="col d-flex justify-content-between align-items-center mt-3">
                                {% block back_url %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
