{% extends 'reservation_management/base/base_list.html' %}
{% load static %}
{% load i18n %}
{% load app_filters %}

{% block title %}
    {{ block.super }} {% translate 'My lessons' %}
{% endblock %}

{% block list_title %}
    {% translate "Your reservations" %}
{% endblock %}

{% block list_body %}
    {% for reservation in reservation_list %}
        <a href="{{ reservation.link }}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <img src="{% static 'img/reservation.png' %}" alt="res" width="32" height="32"
                 class="flex-shrink-0 mr-3">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ reservation.lesson.classroom }} {{ reservation.lesson.start_time }}
                        - {{ reservation.lesson.end_time }}</h6>
                    <p class="mb-0 opacity-75">
                        {{ reservation.lesson.classroom.building }}</p>
                </div>
                <small class="opacity-50 text-nowrap">{{ reservation.lesson.day|get_day_from_int }}</small>
            </div>
        </a>
    {% empty %}
        <a href="{{ reservation.link }}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3"
           aria-current="true">
            <img src="{% static 'img/empty.png' %}" alt="res" width="32" height="32"
                 class="flex-shrink-0 mr-3">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{% translate "No reservation made, insert your lessons!" %}</h6>
                    <p class="mb-0 opacity-75">
                        {% blocktranslate %}
                            Go to <strong>Your lessons</strong> and add them!
                        {% endblocktranslate %}
                    </p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </a>
    {% endfor %}
{% endblock %}

{% block list_nav_button %}
    <div class="col-xl-3 col-lg-5 col-md-9 col-12 d-flex justify-content-end">
        <a href="{% url 'reservation_management:lesson-list' %}" class="font-6 site-blue-text">
            {% translate "Your lessons" %}
            <i class="fas fa-chevron-right ml-2"></i>
        </a>
    </div>
{% endblock %}

{% block manager_tools %}
    {% if user.is_manager %}
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12 d-flex flex-column border p-4">
                <span class="h4 font-6 logo-font">Administration</span>
                <a href="{% url 'user_management:list' %}" class="site-link site-color font-6">
                    Users
                </a>
                <a href="{% url 'reservation_management:log-list' %}" class="site-link site-color font-6">
                    Logs
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
