{% extends 'base.html' %}

{% block title %}Stats{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-md-9 col-12 d-flex justify-content-between align-items-center">
                <a href="{% url 'reservation_management:reservation-list' %}" class="font-7 site-blue-text">
                    <i class="fas fa-chevron-left mr-2"></i>
                    Back
                </a>
            </div>
        </div>
        <div class="row justify-content-center mb-5 mt-3">
            <div class="col-md-9 col-12">
                <h2 class="logo-font site-color">Stats</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-9 col-12">
                <div class="d-flex justify-content-between">
                    <span class="h3 font-7">Users</span>
                    <div>
                        <span class="h3 font-7">{{ users }}</span>&nbsp;
                        <span class="h4 text-danger font-7">({{ unsubscribed_users }})</span>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <div class="row">
                            <div class="col-md col-12 d-flex flex-column mr-md-5">
                                <div class="d-flex justify-content-between">
                                    <span class="font-7 text-success">New subscribers last 7 days</span>
                                    <div>
                                        <span class="font-7">{{ subscribers_last_7_days }}</span>
                                        <span class="font-7 text-success">
                                        (+ {{ percent_increment_subscribers_last_7_days|floatformat:"0" }}%)
                                    </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7 text-success">Logged in last 7 days</span>
                                    <div>
                                        <span class="font-7">{{ logged_in_last_7_days }}</span>
                                        <span class="font-7 text-success">
                                        ({{ percent_logged_in_last_7_days|floatformat:"0" }}%)
                                    </span>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7 text-danger">Inactive users</span>
                                    <span>{{ inactive_users }}</span>
                                </div>
                            </div>
                            <hr class="sm-only" style="display: none;">
                            <div class="col-md col-12 d-flex flex-column mx-md-5">
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">More than 5 lessons </span>
                                    <span>
                                        {{ more_than_five_lessons }} ({{ percent_more_than_five_lessons|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">1 to 5 lessons</span>
                                    <span>
                                        {{ from_one_to_five_lessons }} ({{ percent_from_one_to_five_lessons|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">0 lessons</span>
                                    <span>
                                        {{ zero_lessons }} ({{ percent_zero_lessons|floatformat:"0" }}%)
                                    </span>
                                </div>
                            </div>
                            <hr class="sm-only" style="display: none;">
                            <div class="col-md col-12 d-flex flex-column ml-md-5">
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Green pass added</span>
                                    <span>
                                        {{ green_pass_added }} ({{ percent_green_pass_added|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Seen What's new</span>
                                    <span>
                                        {{ seen_whats_new }} ({{ percent_seen_whats_new|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Seen Instagram modal</span>
                                    <span>
                                        {{ seen_instagram }} ({{ percent_seen_instagram|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Feedback disabled</span>
                                    <span>
                                        {{ feedback_disabled }} ({{ percent_feedback_disabled|floatformat:"0" }}%)
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Wrong credentials</span>
                                    <span>
                                        {{ wrong_credentials }} ({{ percent_wrong_credentials|floatformat:"0" }}%)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9 col-12">
                <div class="d-flex justify-content-between mt-4">
                    <span class="h3 font-7">Lessons</span>
                    <div>
                        <span class="h3 font-7">{{ lessons }}</span>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <div class="row">
                            <div class="col-md col-12 d-flex flex-column mr-md-5">
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Average lessons per user</span>
                                    <span>{{ average_lessons_per_user|floatformat:"2" }}</span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span class="font-7">Today lessons</span>
                                    <span>{{ today_lessons }}</span>
                                </div>
                            </div>
                            <hr class="sm-only" style="display: none;">
                            <div class="col-md col-12 d-flex flex-column ml-md-5">
                                {% for day, num_lessons in lessons_per_day.items %}
                                    <div class="d-flex justify-content-between">
                                        <span class="font-7">{{ day }}</span>
                                        <span>{{ num_lessons }}</span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9 col-12">
                <div class="d-flex justify-content-between mt-4">
                    <span class="h3 font-7">Reservations</span>
                    <div>
                        <span class="h3 font-7">{{ reservations }}</span>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item py-3">
                        <div class="d-flex justify-content-between">
                            <span class="font-7">Average reservations per user</span>&nbsp;&nbsp;&nbsp;
                            <span>{{ average_reservations_per_user|floatformat:"2" }}</span>
                        </div>
                        <div class="d-flex justify-content-between">
                            <span class="font-7">Average reservations per user (with at least a lesson today)</span>&nbsp;&nbsp;&nbsp;
                            <span>{{ average_reservations_per_today_user|floatformat:"2" }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}