{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ block.super }} Home
{% endblock %}

{% block extra_css %}
    <style>
        .site-box {
            min-height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="site-box">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-12">
                <span class="h2 site-color logo-font">{% translate "Welcome to Reservation Ninja " %}</span>
                <span class="h5 logo-font">Beta</span>
                <div class="row mt-4">
                    <div class="col-auto">
                        <img src="{% static 'img/ninja.png' %}" class="picture-small-fixed" alt="Ninja icon"/>
                    </div>
                    <div class="col">
                        <p class="text-muted font-5">
                            {% blocktranslate %}
                                Hi and welcome to Reservation Ninja, the tool which allows you to reserve
                                classrooms automatically.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <p class="font-6">
                    {% translate "How does it work?" %}
                </p>
                <ul>
                    {% blocktranslate %}
                        <li>Create your weekly schedule, by entering your lessons timetable</li>
                        <li>Let the tool work, every morning you'll find the link to the daily reservations</li>
                    {% endblocktranslate %}
                </ul>
                <p class="font-6 site-color mt-4">
                    {% translate "Beta notes" %}
                </p>
                <p>
                    {% blocktranslate %}
                    This is the Beta version of the app, so you could experiment issues or bug.
                    For any problem with the reservations or the use of the app, please
                    {% endblocktranslate %}
                    <a href="{% url 'help' %}" class="site-link site-blue-text">{% translate "contact us" %}</a>
                    {% blocktranslate %}
                    so we can fix them as soon as possible. <br>
                    Thanks for the support.
                    {% endblocktranslate %}
                </p>
                <p class="logo-font mt-4 h5">{% translate "Exploit the power of the ninja" %}</p>
                <p class="small">
                    <a href="{% url 'help' %}" class="site-link text-muted">
                        {% translate "Need help?" %}
                    </a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5">
            <div class="col-lg-3 col-12 d-flex flex-column justify-content-center">
                <a href="{% url 'user_management:registration' %}" class="btn site-btn mb-0">
                    {% translate "Sign up" %}
                </a>
                <a href="{% url 'user_management:login' %}"
                   class="site-link font-6 mt-2 text-center">
                    {% translate "Login" %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
