{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/signing.css' %}">
{% endblock %}

{% block content %}
    <div class="row h-100 w-100 ml-0 mt-5">
        <div id="background-column" class="col d-flex align-items-center justify-content-center p-0">
            <div id="signing-box" class="p-4 d-flex align-items-center justify-content-center">
                <div id="signing-form">
                    <form method="POST">
                        <div class="mb-5">
                            <h2 class="font-7 logo-font site-color mb-0">{% block signing_title %}{% endblock %}</h2>
                            <span class="small">{% block signing_subtitle %}{% endblock %}</span>
                        </div>
                        <div>
                            {% crispy form %}
                            <div class="d-flex mt-5 flex-column align-items-center">
                                <input id="submit-signing-button" class="btn site-btn mb-2 w-75 font-7" type="submit"
                                       value="{% block signing_submit_value %}{% endblock %}">
                                <a class="site-link font-4" href="{% block undo_url %}{% endblock %}">
                                    {% block undo_text %}{% endblock %}
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}