{% extends 'registration/base_signing.html' %}
{% load i18n %}

{% block title %}{{ block.super }} {% translate "Sign up" %}{% endblock %}

{% block signing_title %}{% translate "Fill the form with your information" %}{% endblock %}
{% block signing_subtitle %}{% translate "Reservations will start the day after registration" %}{% endblock %}
{% block signing_submit_value %}{% translate "Sign up" %}{% endblock %}

{% block undo_url %}{% url 'user_management:login' %}{% endblock %}
{% block undo_text %}{% translate "Back to login" %}{% endblock %}

{% block extra_javascript %}
    {% include 'user_management/../user_management/user_ajax.html' %}
    <script type="text/javascript">
        $(function () {
            let policies_acceptance = $("#id_privacy_and_cookie_policy_acceptance")
            $("#submit-signing-button").prop("disabled", !policies_acceptance.is(":checked"));

            policies_acceptance.on('change', function () {
                $("#submit-signing-button").prop("disabled", !$(this).is(":checked"));
            });
        });
    </script>
{% endblock %}